:root {
  --main-background: #5CDB95;
  --main-text: #FFFFFF;
  --alt-text: #05386B;
  --highlight: #379683;
  --light-highlight: #8EE4AF;
}

.round {
  position: absolute;
  border: 2px solid var(--main-text);
  width: 40px;
  height: 40px;
  border-radius: 10%;
}

.arrowContainer {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.arrow {
  position: absolute;
  left: 30%;
  bottom: 0;
  margin-left:0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 15px;
}
.second {
  margin-left: 8px;
}
.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

.Hovered {
  opacity: 0.3;
  background-color: var(--alt-text);
}

.Hovered:hover {
  opacity: 1.0;
}

.NotHovered {
  opacity: 0;
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25%{
    opacity: 0;
    transform:translateX(10px) scale(0.9);
  }
  26%{
    opacity: 0;
    transform:translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.round:hover .arrow.second {
  animation-name: bounceAlpha;
  animation-duration:1.0s;
  animation-iteration-count: 1;
  animation-timing-function:linear;
}
.round:hover .arrow.first {
  animation-name: bounceAlpha;
  animation-duration:1.0s;
  animation-delay:0.2s;
  animation-iteration-count: 1;
  animation-timing-function:linear;
}
