img {
  display: block;
}

:root {
  --main-background: #5CDB95;
  --main-text: #EDF5E1;
  --alt-text: #05386B;
  --highlight: #379683;
  --light-highlight: #8EE4AF;
}

.CardContainer {
  position: relative;
  display: inline-block;
}

.CardDescription {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--alt-text);
  color: var(--main-text);
}

.ContainerHovered {
  opacity: 0.3;
}

.ContainerNotHovered {
  opacity: 0; 
}

.CardDescription:hover {
  opacity: 0.8;
  transition: opacity ease-in 200ms;
}

.LeftArrow {
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: scaleX(-1);
}

.RightArrow {
  position: absolute;
  bottom: 50%;
  right: 0;
}

.LongCardDescription {
  width: 500px;
  height: 500px;
  display: inline-block;
  background-color: var(--alt-text);
  color: var(--main-text);
  overflow: hidden;
  opacity: 0.8;
  animation: ExpandCard 1500ms ease-out 0s 1;
}

.LongCardDescriptionHidden {
  display: none;
  opacity: 0.2;
  color: var(--alt-text);
}

@keyframes ExpandCard {
  0% {
    height: 20px;
    width: 0px;
    opacity: 0.2;
    color: var(--alt-text);
  }
  20% {
    width: 500px;
    height: 20px;
    opacity: 0.2;
    color: var(--alt-text);
  }
  50% {
    width: 500px;
    height: 500px;
    opacity: 0.2;
    color: var(--alt-text);
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0.8;
    color: var(--main-text);
  }
}