:root {
  --main-background: #5CDB95;
  --main-text: #FFFFFF;
  --alt-text: #05386B;
  --highlight: #379683;
  --light-highlight: #8EE4AF;
}

.featuredContainer {
  display: grid;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 200px;
}

.featured {
  color: var(--main-text);
  background-color: var(--alt-text);
}

.featuredSelected {
  background-color: var(--light-highlight);
}

.featuredContainerTitle {
  padding: 10px;
  border: 1px solid var(--main-text);
  cursor: default;
  font-size: 1.4rem;
}

.featuredContainerElement {
  padding: 15px 0;
  border: 1px solid var(--main-text);
  border-top: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.featuredContainerElement:hover {
  background-color: var(--highlight);
}

span {
  display: inline-block;
}

img.thumb {
  display: inline;
  width: 40px;
}
