:root {
  --main-background: #5CDB95;
  --main-text: #EDF5E1;
  --alt-text: #05386B;
  --highlight: #379683;
  --grey-background: rgba(111,111,111,0.7);
  --light-highlight: #8EE4AF;
  --highlight-faded: rgba(55,150,99,0.4);
  --halfway: rgba(45, 103, 103, 0.7);
}

body {
  height: 100%;
  background-color: var(--grey-background);
  font-family: Copperplate;
}

.NavFlexContainer {
  background-color: var(--alt-text);
  width: 100%;
  color: var(--main-text); 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 22px;
  height: 2em;
  border-bottom: 1px solid var(--main-text);
}

.NavFlexItemGrow {
  flex: 1 1 auto;
  border: none;
  position: relative;
}
.NavFlexItemStatic {
  flex: 0 0 auto;
  border: none;
  position: relative;
}

.NavSubItem {
  position: absolute; 
  min-width: 100%;
  left: 0;
}

.navigationBar {
  margin: 0;
  height: 2em;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  height: 2em;
}

nav ul li {
  padding: 0 10px;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

nav ul li.Expanded {
  animation: backPulse 1000ms ease-in-out 0s 1 alternate forwards;
}

nav ul li.NotExpanded::before {
  content: '';
  left: 10%;
  top: 2px;
  width: 0;
  height: 4px;
  background-color: var(--main-text);
  border-radius: 2px;
  display: inline-block;
  position: absolute;
}

nav ul li.NotExpanded:hover::before {
  width: 80%;
  transition: width 100ms ease-in;
}

nav ul li.SelectedSubItem {
  color: var(--light-highlight);
}

div .SubMenuItem {
  border: 1px solid var(--main-text);
  border-top: 0;
  display: block;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  color: var(--main-text)
}

.NavSubItem:first-child {
  border-top: 1px solid var(--main-text);
}

@keyframes backPulse {
  0% {
    background-color: var(--alt-text);
  }    
  20% {
    background-color: var(--highlight-faded);
  }
  40% {
    background-color: var(--halfway);
  }    
  100% {
    background-color: var(--highlight-faded);
  }
}

div .selected {
  background-color: var(--grey-background);
}

div .unselected {
  background-color: var(--alt-text);
}

.firstLetterEmphasized {
  display: block;
  font-size: 14px;
}

.firstLetterEmphasized::first-letter {
  color: var(--highlight);
  font-size: 20px;
}